body{
    background-color: black;
}
@media (max-width: 900px) {
    .x {
        display: none; /* Removes background picture */
    }
    .container {
        text-align: center; /* Centers text for small devices */
    }
    .line{
        display: none;
    }
    .cards{
        display: block;
        width: 100%;
    }
}